<!-- About-->
<section class="resume-section" id="about">
    <div class="resume-section-content">
        <div class="container d-lg-none">
            <div class="col-md-4 px-0 mb-3">
                <picture>
                    <source srcset="assets/img/profile_144p.webp" media="(min-width: 150px)">
                    <img class="img-fluid img-profile rounded-circle mx-auto mb-2 mw-100"
                        src="assets/img/profile1.jpg" alt="">
                </picture>
            </div>
        </div>
        <h1 class="mb-5">
            Gianluca Martino
        </h1>
        <div class="container">
            <div class="subheading mb-3">
                <a aria-label="Website" href="https://atap.lbl.gov/profile/gmartino/">
                    <img class="img-fluid" width="400"
                        style='background-color: rgb(255, 255, 255)'
                        src="assets/img/lbl.svg" alt="LBNL Logo">
                </a>
            </div>
            <div>
                <p class="small">
                    Physical Sciences, Accelerator Technology & Applied Physics Division<br>
                    Lawrence Berkeley National Laboratory<br>
                    1 Cyclotron Road<br>
                    Berkeley, CA 94720, USA
                </p>
            </div>

        </div>

        <div class="social-icons mt-5">
            <a class="social-icon mb-3" aria-label="LinkedIn"
                href="https://www.linkedin.com/in/gianlucamartino"><i class="fab fa-linkedin-in"></i></a>
            <a class="social-icon mb-3" aria-label="Github" href="https://github.com/gian21391/"><i
                    class="fab fa-github"></i></a>
            <a class="social-icon mb-3" aria-label="Orcid" href="https://orcid.org/0000-0002-7838-3844"><i
                    class="fab fa-orcid"></i></a>
        </div>
    </div>
</section>