<!-- About-->
<section class="resume-section" id="about">
    <div class="resume-section-content">
        <div class="container d-lg-none">
            <div class="col-md-4 px-0 mb-3">
                <picture>
                    <source srcset="assets/img/profile_144p.webp" media="(min-width: 150px)">
                    <img class="img-fluid img-profile rounded-circle mx-auto mb-2 mw-100"
                        src="assets/img/profile1.jpg" alt="">
                </picture>
            </div>
        </div>
        <h1 class="mb-5">
            Gianluca Martino
        </h1>
        <div class="container">
            <div class="row row-cols-auto">
                <div class="col">
                    <div class="subheading mb-5">
                        <a aria-label="Website" href="https://www.tuhh.de/es/ce/people/gmartino">
                            <picture>
                                <source srcset="assets/img/TUHH_logo-wortmarke_en_rgb.webp" media="(min-width: 100px)">
                                <img class="img-fluid" width="100"
                                    style='background-color: rgb(255, 255, 255)'
                                    src="assets/img/TUHH_logo-wortmarke_en_rgb.png" alt="">
                            </picture>
                        </a>
                    </div>
                </div>
                <div class="col">
                    <p class="small">
                        Institute of Embedded Systems<br>
                        Building E, Room 3.023<br>
                        Hamburg University of Technology (TUHH)<br>
                        Am Schwarzenberg-Campus 3<br>
                        21073 Hamburg, Germany
                    </p>
                </div>
            </div>

            <div class="row row-cols-auto">
                <div class="col">
                    <div class="subheading mb-5">
                        <a aria-label="E-mail" href="mailto:gianluca.martino@desy.de">
                            <picture>
                                <source srcset="assets/img/DESY_logo_3C_web.webp" media="(min-width: 100px)">
                                <img class="img-fluid" width="100"
                                    style='background-color: rgb(255, 255, 255)'
                                    src="assets/img/DESY_logo_3C_web.png" alt="">
                            </picture>
                        </a>
                    </div>
                </div>
                <div class="col">
                    <p class="small">
                        Machine Beam Controls (MSK)<br>
                        Building 3, Room 032<br>
                        DESY<br>
                        Notkestraße 85<br>
                        22607 Hamburg, Germany
                    </p>
                </div>
            </div>

            <div class="row row-cols-auto">
                <div class="col">
                    <div>
                        <a aria-label="Website" href="https://www.cdcs.uni-hamburg.de/en/team/cdl4/gmartino.html">
                            <picture>
                                <source srcset="assets/img/CDCS.webp" media="(min-width: 100px)">
                                <img class="img-fluid" width="350"
                                    style='background-color: rgb(255, 255, 255)'
                                    src="assets/img/CDCS.png" alt="">
                            </picture>
                        </a>
                    </div>
                    <div class="mt-2">
                        <p class="small">
                            CDCS - CDL4<br>
                            Room 2024<br>
                            Albert-Einstein-Ring 10<br>
                            22761 Hamburg, Germany
                        </p>
                    </div>
                </div>
            </div>
        </div>

        <div class="social-icons mt-5">
            <a class="social-icon mb-3" aria-label="LinkedIn"
                href="https://www.linkedin.com/in/gianlucamartino"><i class="fab fa-linkedin-in"></i></a>
            <a class="social-icon mb-3" aria-label="Github" href="https://github.com/gian21391/"><i
                    class="fab fa-github"></i></a>
            <a class="social-icon mb-3" aria-label="Orcid" href="https://orcid.org/0000-0002-7838-3844"><i
                    class="fab fa-orcid"></i></a>
        </div>
    </div>
</section>